.column_creation {
    border-top: 1px solid #c2c2c2;
    background-color: #fff;
}
.field_grp{
    margin-bottom: 15px;
}

.field_grp .label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 400;
}

.field_grp .error {
    margin-top: 5px;
    /* color: #ff2b2b; */
    color: var(--primary-background-color);
}

/* .field_btn_grp .field {
    padding: 8px 20px;
} */

.form_wrapper {
    padding: 40px 0px 100px;
    max-width: 390px;
    width: 100%;
}