.data_table {
    border-spacing: 0;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px 2px rgb(0 0 0 / 14%);
    padding: 15px 22px;
    background-color: #fff;
}

.data_table th {
    text-align: left;
}
.data_table td,
.data_table th {
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(206, 206, 206);
	font-size: 1rem;
    padding: 5px 10px;
}
.data_table td,
.data_table th,
.data_table td .input_field,
.data_table th .input_field {
	font-size: 1rem;
}

.data_table td .input_field,
.data_table th .input_field {
	padding: 0px;
	border: unset;
	background-color: transparent;
    border: 1px solid transparent;
}

/* .data_table td .input_field:focus,
.data_table th .input_field:focus {} */

.data_table td.active {
    border: 1px solid #000;
}


.pagination {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.pagination .btn_sty {
    width: 35px;
    height: 35px;
    padding: 3px 0 0 0;
    margin-right: 5px;
}

.pagination > span,
.pagination > select {
    margin-left: 15px;
}