.main_heading {
	font-size: 2rem;
}

.heading {
	font-size: 1.6rem;
	margin: 0 0 20px;
}

.table_wrapper {
	padding: 25px 0 40px;
	background-color: #f3f3f3;
	box-shadow: inset 0px 1px 3px 2px rgb(0 0 0 / 14%);
}

.btn_wrapper .btn_sty {
  margin-right: 20px;
}