@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
	--primary-color: #444;
	--primary-background-color: #2684ff;
	--secondary-background--color: #a9a9a9;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: var(--primary-color);
}

input,
textarea,
button {
	outline: none;
}

.container {
	padding: 0 50px;
}

.btn_sty {
	font-size: 0.99rem;
	background-color: var(--secondary-background--color);
	padding: 8px 20px;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
  border: unset;
}
.btn_sty:hover {
	background-color: var(--primary-background-color);
}

.btn_sty.btn_inverse {
	background-color: var(--primary-background-color);
}

.box_field {
	border: 1px solid #c2c2c2;
	font-size: 1rem;
	padding: 7px 10px;
	border-radius: 4px;
	width: 100%;
	margin: 1px;
}

.box_field:focus {
	border: 2px solid var(--primary-background-color);
	margin: 0px;
}
